.modal-header .close {
    align-self: center !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none;
}

.modal-header {
    padding: 6px 16px !important;
    border-bottom: 0 !important
}

.modal-footer {
    padding:.25rem;
    min-height: 40px;
}